h1 Cinémas d'art et Essai

table.table-bordered.table-striped
  tr
    th Nom
    th Adresse
    th image
    th Lien
    th geoloc
    th A l'affiche
  tr(ng-repeat="cinema in cinemas")
    td {{ cinema.name }}
    td {{ cinema.address }} {{ cinema.postalCode }} {{ cinema.city }}
    td
      img(src="{{ cinema.picture }}")
    td
      a(target="_blank" href="{{ cinema.allocineLink }}") AlloCine page
    td {{ cinema.geoloc }}
    td
      a(ui-sref="showtime({ cinemaId: cinema.alloCineId })")
        button.btn.btn-primary A l'affiche
