ui-gmap-google-map(center='map.center' zoom='map.zoom' events='events')
  ui-gmap-marker(
    ng-repeat='cinema in cinemaList'
    idKey='cinema.code'
    coords='cinema.geoloc'
  )
    ui-gmap-window Yolo
